nav{
    background: rgb(75, 204, 247) ;
    height: 90px;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
}
label.logo{
    color: rgb(216, 4, 163);
    font-size: 35px;
    line-height: 100px;
    padding: 0 100px;
    font-weight: bold;
}
nav ul{
    float: right;
    margin-right: 20px;
    

}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    font-size:17px ;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;

}
a.active,a:hover{
    background: #1b9bff;
    transition: .5s ;
}
.checkbtn{
    font-size:30px;
    color:white;
    float: right;
    line-height: 80px;
    margin-right: 20px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;

}
.maggie{
    text-align: center;
    margin-top: 220px;
    color: WHITE;
    font-size: 25px;
}
body{
    background-image:linear-gradient(rgba(150, 205, 250, 0.4),rgba(155, 195, 248, 0.4)),url(asd.png);
    background-size: cover;
    height: 500px;
}
button {
    border-radius: 20px;
    width:180px;
    padding: 12px 1px;
    border: none;
    font-size: 15px; 
    cursor: pointer;
    color: #fff;
    background:#000 ;

}
#btn{
    background-color: rgb(255, 110, 255);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}
.about{
    width: 1350px;
    height: 300px;
    background-image:linear-gradient(rgba(150, 205, 250, 0.4),rgba(155, 195, 248, 0.4)),url(asd.png);
    background-size: cover;

    
}
.about{
    width: 1350px;
    height: 300px;
    background-image:linear-gradient(rgba(150, 205, 250, 0.4),rgba(155, 195, 248, 0.4)),url(asd.png);
    background-size: cover;

    
}
.about2{
    margin-left: 43px;
    font-size: 35px;
    color: #fff;
}
.prada{
    float: left;
    margin-left: 45px;
    font-size: 18px;
    font-family: sans-serif;

}.prada2{

    float: left;
    font-size: 18px;
    margin-left: 65px;
}
.prada3{
    float: right;
   margin-right: 45px;
   max-width: 300px;
   max-height: 450px;
}
.socials{
    margin-top: 1%;
    text-align: center;
    float: right;
    margin-right: 450px;
}
.socials a{
    width: 30px;
    height: 30px;
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 50%;
    margin: 0 5px;
}
.socials a:nth-child(1){
    background: #3b5998;
}
.socials a:nth-child(2){
    background: #55acee;
}
.socials a:nth-child(3){
    background: #bd081c;
}
.socials a:nth-child(4){
    background: #0077b5;
}
.socials a i{
    padding: 8px 0;
}
.copy{
    float: left;
    margin-top: 4%;
    margin-left: 80px;
    font-size: 16px;
}